<html xmlns:th ="http://www.thymeleaf.org">
  <head>
    <title>Admin Dash Board</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/carousel/">
	 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Bootstrap core CSS -->
<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="carousel.css" rel="stylesheet">
  </head>
 
  <body>
    
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">UserDashBoard</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="@{/userHomePage}">Home</a>
          </li>     
          <li class="nav-item">
            <a class="nav-link" th:href="@{/viewProviderForBooking}">Check Availability</a>
          </li>  
          <li class="nav-item">
            <a class="nav-link" th:href="@{/viewUserBooking}">Booking History</a>
          </li> 
           <li class="nav-item">
            <a class="nav-link" th:href="@{/slotPage}">slots</a>
          </li> 
        </ul>
        <ul class="nav navbar-nav navbar-right">
       <li class="nav-item">
            <a class="nav-link" aria-current="page" th:href="@{/viewUserProfile}">View Profile</a>
          </li>
          <li class="nav-item dropdown ms-auto">
            <a th:href="@{/userlogout}" class="nav-link">Logout</a>
        </li>
    </ul>
      </div>
    </div>
  </nav>
</header>

<section class="vh-100 bg-light">
  <div class="container py-5 h-100 ">
 
 
    <div class="row d-flex align-items-center justify-content-center h-100">
    
 <div class="container">
       <div>
       	  <h3 class="mb-3 text-uppercase" style="color:black; text-weight:bold; border:5px solid darkgreen; 
       	  padding:10px; text-align:center;">Provider List</h3>
       </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Provider Id</th>
                    <th>Provider Name</th>
                    <th>Address</th>
                    <th>Slot Capacity</th>
                    <th>Mobile Number</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="provider : ${providersForUser}">
                    <td th:text="${provider.providerId}"></td>
                    <td th:text="${provider.providerName}"></td>
                    <td th:text="${provider.address}"></td>
                    <td th:text="${provider.slotCapacity}"></td>
                    <td th:text="${provider.mobile}"></td>
                    <td>
                        <a th:href="@{/passProviderName/{pid}(pid=${provider.providerId})}" class="btn btn-danger">Book</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
</section>
</body>
</html>